* {
  box-sizing: border-box;
}

body {
  background-color: darkgray;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.navbar {
  font-size: 18px;
  background-color: #F8F8F8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 95px;
  width: 375px;
  border-bottom: 1px solid #EAEAEA;
}

.navbar h2, .navbar h3 {
  display: inline-block;
  text-align: center;
}

.navbar h2 {
  margin-top: 20px;
  margin-left: 35px;
}

.navbar h3 {
  color: #007AFF;
  margin-left: 5px;
}

.container {
  background-color: white;
  width: 375px;
  margin: auto;
}
.buslist h4 {
  display: inline-block;
  margin-left: 5px;
  padding-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.Eastbound, .Northbound, .Southbound, .Reroute, .Out {
  width: 375px;
  height: 50px;
  padding-top: 10px;
  border-bottom: 1px solid #EAEAEA;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  list-style: none;
  color: rgba(0, 0, 0, 0.36);
}

.number {
  color: black;
  display: inline-block;
  margin-left: 5px;
  width: 10px;
}

.stop {
  display:inline-block;
  margin-left: 20px;
  width: 160px;
}

.time {
  display: inline-block;
  width: 135px;
}

#fwarrow {
  float: right;
  width: 35px;
  height: 40px;
  padding-bottom: 15px;
}

#backarrow {
  width: 20px;
  height: 15px;
  padding-left: 10px;
}


@media screen and (min-width: 575px) {
  .container {
    width: 375;
  }
}
