*, *: before, *:after {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #404040;
  font-size: 16px;
  font-family: "SF Pro Text", Helvetica, sans-serif;
}

.container {
  position: relative;
  margin: 20px auto;
  width: 375px;
  height: 812px;
  background: white;
  overflow: auto;
}

.navbar {
  font-size: 18px;
  background-color: #F8F8F8;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  height: 95px;
  width: 375px;
  border-bottom: 1px solid #EAEAEA;
}

.navbar h2, .navbar h3 {
  display: inline-block;
  text-align: center;
}

.navbar h2 {
  margin-top: 20px;
  margin-left: 35px;
}

.navbar h3 {
  color: #007AFF;
  margin-left: 5px;
}

.direction {
  position: relative;
  padding-left: 10px;
  padding-bottom: 10px;
}

.number {
  font-size: 2em;
  color: #007AFF;
  font-weight: normal;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  position: relative;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 10px;
  bottom: 40px;
}

.stop {
  font-size: 1em;
  color: black;
  font-weight: normal;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  position: relative;
  padding-left: 10px;
  padding-bottom: 5px;
  bottom: 40px;
}

.time {
  font-size: 1em;
  color: gray;
  font-weight: normal;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  float: right;
  position: relative;
  vertical-align: middle;
  text-align: right;
  bottom: 60px;
}

.direction {
  font-size: 1em;
  color: gray;
  font-weight: normal;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  position: relative;
  bottom: 40px;
}

.due {
  font-size: 1em;
  color: red;
  font-weight: normal;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  float: right;
  position: relative;
  text-align: right;
  bottom: 60px;
}

ul {
  border-bottom: 1px solid gray;
}

#fwarrow {
  position: relative;
  text-align: right;
  bottom: 30px;

}

#backarrow {
  width: 10px;
  height: 15px;
  padding-left: 10px;
}

@media screen and (min-width: 575px) {
  .container {
    width: 375;
  }
}
