* {
  box-sizing: border-box;
}
h1 {
  position: relative;
  top: 50px;
  left: 100px;
  font-size: 24px;
  font-family: arial;
}

h3 {
  font-size: 15px;
  font-weight: 550;
}
body {
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
}
div {
  height: 90px;
  line-height: 5px;
  margin:0;

}

.column {
  float: left;
  padding-left: 100px;
  padding-top: 50px;
  width: auto;
}

.column.left {
  width: 10%;
}
.column.middle{
  width: 200px;
  padding-left: 40px;
}
.column.right {
  width: 250px;
  padding-left: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
